.photodisplay {
	font-size		: 10pt;
}

.photodisplay > .empty {
	color			: #999999;
	font-size		: 10pt;
}

.photodisplay .item {
	margin-bottom		: 10px;
	float			: left;
	margin-right		: 10px;
	cursor			: pointer;
}

.blackout {	
	top                 	: -0px;
	left                	: -0px;
	position            	: fixed;
	opacity             	: 0.9;
	filter             	: alpha(opacity=90);
	z-index             	: 99;
	height              	: 100%;
	width               	: 100%;
	background-color    	: #ffffff;
}

.bigdisplay {
	z-index			: 100;
	position		: absolute;
	width			: 600px;
	margin-left		: 170px;
	margin-top		: -100px;
	background-color	: #000000;
	padding			: 10px;
}

.arrowleft {
	z-index                 : 100;
        position                : absolute;
        margin-left             : 30px;
	font-size		: 50pt;
	color			: #404F59;
	cursor			: pointer;
	height			: 70px;
	width			: 70px;
	background-image	: url(/images/left_arrow.png);
}

.arrowright {
	z-index                 : 100;
        position                : absolute;
        margin-left             : 860px;
	font-size		: 50pt;
	color			: #404F59;
	cursor			: pointer;
	height			: 70px;
	width			: 70px;
	background-image	: url(/images/right_arrow.png);
}

.person {
	z-index			: 100;
	position		: absolute;
	font-size		: 15pt;
	color                   : #404F59;
	margin-top		: 200px;
	margin-left		: -160px;
	width			: 600px;
	text-align		: right;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.event {
	z-index			: 100;
	position		: absolute;
	font-size		: 15pt;
	color                   : #404F59;
	margin-top		: 200px;
	margin-left		: 520px;
	width			: 600px;
	text-align		: right;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
